apiVersion: ratelimit.zufardhiyaulhaq.com/v1alpha1
kind: LocalRateLimitConfig
metadata:
  name: gateway
  namespace: istio-system
spec:
  type: "gateway"
  selector:
    labels:
      app: istio-ingressgateway
      istio: ingressgateway
    istio_version:
      - "1.24"
      - "1.25"
      - "1.26"
