operator:
  # image of istio-ratelimit-operator
  image: "zufardhiyaulhaq/istio-ratelimit-operator"
  # tag of istio-ratelimit-operator image
  tag: "v1.0.0"
  # number of replica for deployment
  replica: 1

resources:
  limits:
    cpu: 200m
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 20Mi
