operator:
  # image of istio-ratelimit-operator
  image: "zufardhiyaulhaq/istio-ratelimit-operator"
  # tag of istio-ratelimit-operator image
  tag: "v2.14.0"
  # number of replica for deployment
  replica: 1

resources:
  limits:
    cpu: 512m
    memory: 512Mi
  requests:
    cpu: 256m
    memory: 256Mi

settings:
  ratelimitservice:
    image: envoyproxy/ratelimit:5e1be594
  statsdExporter:
    image: prom/statsd-exporter:v0.26.1

serviceAccount:
  imagePullSecrets: []

extraLabels: {}
