apiVersion: ratelimit.zufardhiyaulhaq.com/v1alpha1
kind: LocalRateLimitConfig
metadata:
  name: podinfo
  namespace: development
spec:
  type: "sidecar"
  selector:
    labels:
      app: podinfo
    istio_version:
      - "1.11"
      - "1.12"
      - "1.13"
      - "1.14"
      - "1.15"
